{% extends "base.html" %} {% block meta %}

{% set title = "Posts" %}
{% set description = title ~ " | Aravinth Manivannan" %}
{{ macros::get_meta_tags(title=title, description=description) }}

{% endblock meta %} {% block content %}
<div class="blog__container">
    <h1 class="blog__title">{{ taxonomy.name }}</h1>
      <ul class="blog__list">
          {% for term in terms %}                
              <li class="tag__item">
				<a href="{{ term.permalink | safe }}" class="tag__item-link">
				  <h2 class="tag__item-title">#{{ term.name }}</h2>
                  {% set length = term.pages | length %}
                  {% set entry = "entries" %}
                  {% if length == 1 %}
                    {% set entry = "entry" %}
                  {% endif %}
                  <span class="tag__meta">{{ term.pages | length }} {{ entry }}</span>
                </a>
              </li>
            </a>
          {% endfor %}
      </ul>
</div>
{% endblock content %}
