@import "../components/page";

$std-trans: 0.3s;

.blog__content {
	@include md;
}

.blog__container {
	margin: auto;
	max-width: 50%;
}

.blog__list {
	list-style: none;
}

.blog__post-item,
.blog__post-item:visited {
	text-decoration: none;
	color: inherit;
}

.blog__title {
	margin: 35px 0;
}

.blog__post-item {
	display: block;
	margin: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed black;
}

.blog__post-item:last-child {
	border-bottom: none;
}

.blog__post-description {
	font-size: 0.9rem;
	margin: 5px 0;
}

.blog__post-tags {
	font-size: 0.7rem;
	font-family: monospace, monospace;
}

.blog__post-meta {
	font-size: 0.7rem;
}

.blog__post-title {
	font-size: 1.4rem;
	font-weight: 550;
}
