{% extends "base.html" %} {% block meta %}

{% set title = "Posts" %}
{% set description = title ~ " | Aravinth Manivannan" %}
{{ macros::get_meta_tags(title=title, description=description) }}

{% endblock meta %} {% block content %}
<div class="blog__container">
    <h1 class="blog__title">{{ section.title }}</h1>
      <ul class="blog__list">
          {% for page in section.pages %}                
            <a href="{{ page.permalink | safe }}" class="blog__post-item">
              <li>
                <h2 class="blog__post-title">{{ page.title }}</h2>
	  			<p class="blog__post-description">{{ page.description | safe }} </p>
                <p class="blog__post-meta"> 
                  {{  page.day }} {{ macros::get_month(month=page.month) }},
                  {{ page.year }} &middot; <b>{{ page.reading_time }} min read</b>
                </p>
              </li>
            </a>
          {% endfor %}
      </ul>
</div>
{% endblock content %}
