<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      media="screen and (max-width: 1200px)"
      href="{{ get_url(path='/mobile.css') }}"
    />
    <title>realaravinth | Aravinth Manivannan</title>
  </head>
  <body class="home__container">
    {% include "nav.html" %}

    <section class="home__content-container">
      <div class="home__content">
      <h1 class="home__name">realaravinth | Aravinth Manivannan</h1>
      <p class="home__role">Free Software Activist. Student Developer</p>
</div>
    </section>
  </body>
</html>
